/**
 * Api Documentation
 * Api Documentation
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import io.swagger.client.model.DisplayedMessage;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CampaignconversioncontrollerApi {
    private ApiClient apiClient;

    public CampaignconversioncontrollerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CampaignconversioncontrollerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for getNextMessageByCampaignIdUsingGET */
    private com.squareup.okhttp.Call getNextMessageByCampaignIdUsingGETCall(Long campaignId, String targetGroupName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'campaignId' is set
        if (campaignId == null) {
            throw new ApiException("Missing the required parameter 'campaignId' when calling getNextMessageByCampaignIdUsingGET(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/api/target/conversion/campaign-next-message/{campaignId}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "campaignId" + "\\}", apiClient.escapeString(campaignId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (targetGroupName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "targetGroupName", targetGroupName));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {"BearerTokenAuthentication"};
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * getNextMessageByCampaignId
     * 
     * @param campaignId campaignId (required)
     * @param targetGroupName targetGroupName (optional)
     * @return DisplayedMessage
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DisplayedMessage getNextMessageByCampaignIdUsingGET(Long campaignId, String targetGroupName) throws ApiException {
        ApiResponse<DisplayedMessage> resp = getNextMessageByCampaignIdUsingGETWithHttpInfo(campaignId, targetGroupName);
        return resp.getData();
    }

    /**
     * getNextMessageByCampaignId
     * 
     * @param campaignId campaignId (required)
     * @param targetGroupName targetGroupName (optional)
     * @return ApiResponse&lt;DisplayedMessage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DisplayedMessage> getNextMessageByCampaignIdUsingGETWithHttpInfo(Long campaignId, String targetGroupName) throws ApiException {
        com.squareup.okhttp.Call call = getNextMessageByCampaignIdUsingGETCall(campaignId, targetGroupName, null, null);
        Type localVarReturnType = new TypeToken<DisplayedMessage>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * getNextMessageByCampaignId (asynchronously)
     * 
     * @param campaignId campaignId (required)
     * @param targetGroupName targetGroupName (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNextMessageByCampaignIdUsingGETAsync(Long campaignId, String targetGroupName, final ApiCallback<DisplayedMessage> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNextMessageByCampaignIdUsingGETCall(campaignId, targetGroupName, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DisplayedMessage>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getNextMessagePushByCampaignIdUsingGET */
    private com.squareup.okhttp.Call getNextMessagePushByCampaignIdUsingGETCall(Long campaignId, String userId, String targetGroupName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'campaignId' is set
        if (campaignId == null) {
            throw new ApiException("Missing the required parameter 'campaignId' when calling getNextMessagePushByCampaignIdUsingGET(Async)");
        }
        
        // verify the required parameter 'userId' is set
        if (userId == null) {
            throw new ApiException("Missing the required parameter 'userId' when calling getNextMessagePushByCampaignIdUsingGET(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/api/target/conversion/campaign-next-message-push/{campaignId}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "campaignId" + "\\}", apiClient.escapeString(campaignId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (targetGroupName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "targetGroupName", targetGroupName));
        if (userId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "userId", userId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {"BearerTokenAuthentication"};
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * getNextMessagePushByCampaignId
     * 
     * @param campaignId campaignId (required)
     * @param userId userId (required)
     * @param targetGroupName targetGroupName (optional)
     * @return DisplayedMessage
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DisplayedMessage getNextMessagePushByCampaignIdUsingGET(Long campaignId, String userId, String targetGroupName) throws ApiException {
        ApiResponse<DisplayedMessage> resp = getNextMessagePushByCampaignIdUsingGETWithHttpInfo(campaignId, userId, targetGroupName);
        return resp.getData();
    }

    /**
     * getNextMessagePushByCampaignId
     * 
     * @param campaignId campaignId (required)
     * @param userId userId (required)
     * @param targetGroupName targetGroupName (optional)
     * @return ApiResponse&lt;DisplayedMessage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DisplayedMessage> getNextMessagePushByCampaignIdUsingGETWithHttpInfo(Long campaignId, String userId, String targetGroupName) throws ApiException {
        com.squareup.okhttp.Call call = getNextMessagePushByCampaignIdUsingGETCall(campaignId, userId, targetGroupName, null, null);
        Type localVarReturnType = new TypeToken<DisplayedMessage>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * getNextMessagePushByCampaignId (asynchronously)
     * 
     * @param campaignId campaignId (required)
     * @param userId userId (required)
     * @param targetGroupName targetGroupName (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNextMessagePushByCampaignIdUsingGETAsync(Long campaignId, String userId, String targetGroupName, final ApiCallback<DisplayedMessage> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNextMessagePushByCampaignIdUsingGETCall(campaignId, userId, targetGroupName, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DisplayedMessage>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for postConversionUsingPOST */
    private com.squareup.okhttp.Call postConversionUsingPOSTCall(Long campaignId, String channel, Long experimentId, String messageContent, Long messageId, String targetGroupName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/api/target/conversion/experiment_conversion".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (campaignId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "campaignId", campaignId));
        if (channel != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "channel", channel));
        if (experimentId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "experimentId", experimentId));
        if (messageContent != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "messageContent", messageContent));
        if (messageId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "messageId", messageId));
        if (targetGroupName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "targetGroupName", targetGroupName));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {"BearerTokenAuthentication"};
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * postConversion
     * 
     * @param campaignId campaignId (optional, default to 1)
     * @param channel channel (optional)
     * @param experimentId experimentId (optional)
     * @param messageContent messageContent (optional)
     * @param messageId messageId (optional, default to 10)
     * @param targetGroupName targetGroupName (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void postConversionUsingPOST(Long campaignId, String channel, Long experimentId, String messageContent, Long messageId, String targetGroupName) throws ApiException {
        postConversionUsingPOSTWithHttpInfo(campaignId, channel, experimentId, messageContent, messageId, targetGroupName);
    }

    /**
     * postConversion
     * 
     * @param campaignId campaignId (optional, default to 1)
     * @param channel channel (optional)
     * @param experimentId experimentId (optional)
     * @param messageContent messageContent (optional)
     * @param messageId messageId (optional, default to 10)
     * @param targetGroupName targetGroupName (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> postConversionUsingPOSTWithHttpInfo(Long campaignId, String channel, Long experimentId, String messageContent, Long messageId, String targetGroupName) throws ApiException {
        com.squareup.okhttp.Call call = postConversionUsingPOSTCall(campaignId, channel, experimentId, messageContent, messageId, targetGroupName, null, null);
        return apiClient.execute(call);
    }

    /**
     * postConversion (asynchronously)
     * 
     * @param campaignId campaignId (optional, default to 1)
     * @param channel channel (optional)
     * @param experimentId experimentId (optional)
     * @param messageContent messageContent (optional)
     * @param messageId messageId (optional, default to 10)
     * @param targetGroupName targetGroupName (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postConversionUsingPOSTAsync(Long campaignId, String channel, Long experimentId, String messageContent, Long messageId, String targetGroupName, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postConversionUsingPOSTCall(campaignId, channel, experimentId, messageContent, messageId, targetGroupName, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for postReachUsingGET */
    private com.squareup.okhttp.Call postReachUsingGETCall(Long campaignId, String channel, Long experimentId, String messageContent, Long messageId, String targetGroupName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/api/target/conversion/experiment_reach/{targetGroupId}".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (campaignId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "campaignId", campaignId));
        if (channel != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "channel", channel));
        if (experimentId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "experimentId", experimentId));
        if (messageContent != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "messageContent", messageContent));
        if (messageId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "messageId", messageId));
        if (targetGroupName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "targetGroupName", targetGroupName));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {"BearerTokenAuthentication"};
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * postReach
     * 
     * @param campaignId campaignId (optional, default to 1)
     * @param channel channel (optional)
     * @param experimentId experimentId (optional)
     * @param messageContent messageContent (optional)
     * @param messageId messageId (optional, default to 10)
     * @param targetGroupName targetGroupName (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void postReachUsingGET(Long campaignId, String channel, Long experimentId, String messageContent, Long messageId, String targetGroupName) throws ApiException {
        postReachUsingGETWithHttpInfo(campaignId, channel, experimentId, messageContent, messageId, targetGroupName);
    }

    /**
     * postReach
     * 
     * @param campaignId campaignId (optional, default to 1)
     * @param channel channel (optional)
     * @param experimentId experimentId (optional)
     * @param messageContent messageContent (optional)
     * @param messageId messageId (optional, default to 10)
     * @param targetGroupName targetGroupName (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> postReachUsingGETWithHttpInfo(Long campaignId, String channel, Long experimentId, String messageContent, Long messageId, String targetGroupName) throws ApiException {
        com.squareup.okhttp.Call call = postReachUsingGETCall(campaignId, channel, experimentId, messageContent, messageId, targetGroupName, null, null);
        return apiClient.execute(call);
    }

    /**
     * postReach (asynchronously)
     * 
     * @param campaignId campaignId (optional, default to 1)
     * @param channel channel (optional)
     * @param experimentId experimentId (optional)
     * @param messageContent messageContent (optional)
     * @param messageId messageId (optional, default to 10)
     * @param targetGroupName targetGroupName (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postReachUsingGETAsync(Long campaignId, String channel, Long experimentId, String messageContent, Long messageId, String targetGroupName, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postReachUsingGETCall(campaignId, channel, experimentId, messageContent, messageId, targetGroupName, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
